<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../index.css">
    <title>Atendimento</title>
</head>
<body>
    <h1>Verificar Atendimento</h1>
    <form action="../Core.php" method="POST">
        <div>
            <label for="num">Numero de protocolo</label>
            <input type="number" name="num" id="num">
        </div>
        <button name="buscar" type="submit">Buscar</button>
    </form>
    <a href="../../index.php">Voltar</a>
</body>
</html>